.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(212, 239, 216), white);
  padding: 5rem 5rem;
}

.contact__section1 {
  padding: 5rem 0;
}

.contact__section1 h1 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: 1px;
}

.contact__section1 p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: 1px;
}

.contact__section2 {
  padding: 2rem 3rem;
  background: #f4f4f4;
  box-shadow: 0px 7px 4px rgba(0, 113, 202, 0.2);
  border-radius: 30px;
}
.contact__subtitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 0 2rem 0;
}

.input__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.input-item-box {
  position: relative;
}
.input-item-box span {
  position: absolute;
  left: 0;
  top: 2px;
  padding: 10px;
  pointer-events: none;
  color: #747474;
  font-size: 0.9rem;
  transition: 0.5s;
}

.input-item-box input:valid ~ span,
.input-item-box input:focus ~ span {
  transform: translateY(-20px);
  font-size: 0.8rem;
  padding: 2px 10px;
  background: #ecfcf4;
  border-radius: 5px;
  color: green;
}
.input-item-box textarea:valid ~ span,
.input-item-box textarea:focus ~ span {
  transform: translateY(-20px);
  font-size: 0.8rem;
  padding: 2px 10px;
  background: #ecfcf4;
  border-radius: 5px;
  color: green;
}

.input__item:focus {
  border: none;
  outline: none;
}
.input__long:focus {
  border: none;
  outline: none;
}
.input__textarea:focus {
  border: none;
  outline: none;
}

.input__item {
  border: none;
  padding: 15px 19px;
  margin-bottom: 2rem;
  width: 20vw;
  background: #c6c6c6;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  font-family: var(--font);
  color: #747474;
}

.input__item:active,
.input__item:focus {
  background: #ecfcf4;
  border: 1px solid #c6c6c6;
}

.error-msge {
  display: none;
  position: relative;
  bottom: 24px;
  left: 2px;
}

.input__long {
  border: none;
  padding: 15px 18px;
  width: 42vw;
  border-radius: 4px;
  margin: 0 0 2rem 0;
  background: #c6c6c6;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  font-family: var(--font);
  color: #747474;
}
.input__long:active,
.input__long:focus {
  background: #ecfcf4;
  border: 1px solid #c6c6c6;
}

.input__textarea {
  border: none;
  font-family: var(--font);
  font-size: 15px;
  width: 42vw;
  height: 100px;
  padding: 14px 19px;
  resize: none;
  background: #c6c6c6;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  font-family: var(--font);
  color: #747474;
  border-radius: 4px;
}

.input__textarea:focus,
.input__textarea:active {
  background: #ecfcf4;
  border: 1px solid #c6c6c6;
}

.submit__btn--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.submit__btn--container button:hover {
  box-shadow: 0.5px 4px 8px rgb(154, 154, 154);
  transition: 300ms;
}

.contact__section3 {
  display: flex;
  margin: 5rem 0 1rem 0;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.contact__box--items {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
  margin-left: 2rem;
}

.contact__location p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 1px;
}
.contact__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid #00a353;
  background-color: #00a353;
  border: none;
  color: white;
  padding: 0.5rem 4rem;
  border-radius: 3px;
  cursor: pointer;
}
.rocket-icon {
  margin-right: 0.5rem;
}
.contact__btn:hover {
  box-shadow: 0.5px 4px 8px rgb(154, 154, 154);
  transition: 300ms;
}

/* .thankyou__section {
  background: #edf7ff;
  box-shadow: 0px 7px 4px rgba(0, 113, 202, 0.2);
  border-radius: 30px;
  padding: 4rem;
  margin-top: 8rem;
} */

.contact__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem 2rem;
  background: #ecfcf4;
  box-shadow: 0px 4px 4px rgba(0, 113, 202, 0.25);
  border-radius: 30px;
}

.contact__box--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem 2rem;
  background: #ecfcf4;
  box-shadow: 0px 4px 4px rgba(0, 113, 202, 0.25);
  border-radius: 30px;
}

.contact__box--item p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  color: #272d30;
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .contact__container {
    padding: 5rem 2rem;
  }
  .input__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .input__item {
    width: 100%;
  }
  .input__long {
    width: 100%;
  }
  .input__textarea {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .contact__container {
    padding: 5rem 2rem;
  }
  .contact__section1 {
    padding: 2rem 0 2rem 0;
  }
  .contact__section1 h1 {
    font-size: 2rem;
  }

  .contact__section1 p {
    font-size: 1rem;
  }
  .contact__section2 {
    padding: 1rem 2rem;
  }
  .contact__section2 p {
    font-size: 0.9rem;
  }
  .input__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .input__item {
    width: 100%;
  }
  .input__long {
    width: 100%;
  }
  .input__textarea {
    width: 100%;
  }
  .contact__section3 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    margin: 6rem 0 2rem 0;
    padding: 0;
  }
  .contact__box--items {
    margin: 0;
  }
  .contact__location {
    padding: 4rem 2rem;
  }

  .contact__location p {
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 1px;
  }
  .contact__box--items p {
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 1px;
  }

  .thankyou__section {
    padding: 2rem;
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1720px) {
  .contact__container {
    padding: 10rem 20rem 10rem 20rem;
  }
}
