.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(212, 239, 216), white);
  padding: 5rem 5rem;
}

.contact__section1 {
  padding: 5rem 0;
}

.contact__section1 h1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: 1px;
}

.contact__section1 p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: 1px;
}

.contact__section2 {
  padding: 2rem 3rem;
  background: #ffffff;
  box-shadow: 0px 7px 4px rgba(0, 113, 202, 0.2);
  border-radius: 30px;
}
.contact__subtitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 0 2rem 0;
}

.input__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.input__item {
  border: none;
  padding: 15px 19px;
  margin-bottom: 2rem;
  width: 20vw;
  background: #e9f3f9;
  border-radius: 4px;
}

.error-msge {
  display: none;
  position: relative;
  bottom: 24px;
  left: 2px;
}

.input__long {
  border: none;
  padding: 15px 18px;
  width: 42vw;
  background: #e9f3f9;
  border-radius: 4px;
  margin: 0 0 2rem 0;
}

.input__textarea {
  border: none;
  font-family: "mulish";
  font-size: 15px;
  width: 42vw;
  height: 100px;
  padding: 14px 19px;
  resize: none;
  background: #e9f3f9;
  border-radius: 4px;
}

.submit__btn--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.submit__btn--container button:hover {
  box-shadow: 0.5px 4px 8px rgb(154, 154, 154);
  transition: 300ms;
}

.contact__section3 {
  display: flex;
  margin: 5rem 0 1rem 0;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.contact__box--items {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
  margin-left: 2rem;
}

.contact__location p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 1px;
}
.contact__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem 2rem;
  background: #f0f4f6;
  box-shadow: 0px 4px 4px rgba(0, 113, 202, 0.25);
  border-radius: 30px;
}

.contact__box--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem 2rem;
  background: #f0f4f6;
  box-shadow: 0px 4px 4px rgba(0, 113, 202, 0.25);
  border-radius: 30px;
}

.contact__box--item p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  color: #272d30;
}

@media only screen and (max-width: 1080px) and (min-width: 768px) {
  .contact__container {
    padding: 5rem 2rem;
  }
  .input__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .input__item {
    width: 100%;
  }
  .input__long {
    width: 100%;
  }
  .input__textarea {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .contact__container {
    padding: 5rem 2rem;
  }
  .contact__section1 {
    padding: 5rem 0;
  }
  .contact__section2 {
    padding: 1rem 2rem;
  }
  .input__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .input__item {
    width: 100%;
  }
  .input__long {
    width: 100%;
  }
  .input__textarea {
    width: 100%;
  }
  .contact__section3 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
    margin: 6rem 0 2rem 0;
    padding: 0;
  }
  .contact__box--items {
    margin: 0;
  }
  .contact__location {
    padding: 4rem 2rem;
  }
}

@media screen and (min-width: 1720px) {
  .contact__container {
    padding: 10rem 20rem 10rem 20rem;
  }
}
