.features__CTA--container {
  padding: 3rem 6rem 5rem 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.features__CTA--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__CTA--item a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid blue;
}

.features__CTA--item a:hover {
  color: green;
  border-bottom: 2px solid green;
}

@media screen and (min-width: 1720px) {
  .features__CTA--container {
    padding: 5rem 20rem;
  }
}
@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .features__CTA--container {
    padding: 2rem 4rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .features__CTA--container {
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5rem;
  }
}
