.term__main--section {
  padding: 8rem 5rem 10rem 5rem;
}

.termsandcondition__title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: 1px;
}

.terms__content--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* border: 1px solid red; */
  margin: 4rem 0;
}

.termsandcondition__subtitle {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 140%;
  letter-spacing: 1px;
  color: #242424;
  margin: 0 0 1.5rem 0;
}

.termsandcondition__wrapper--ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.termsandcondition__wrapper--ul li {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 140%;
  letter-spacing: 1px;
  color: black;
  margin-bottom: 1rem;
}

.termsandcondition__wrapper--ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: green; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

@media screen and (min-width: 1720px) {
  .term__main--section {
    padding: 15rem 20rem 1rem 20rem;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .term__main--section {
    padding: 10rem 5rem 1.5rem 5rem;
  }
  .termsandcondition__title {
    font-size: 2.5rem;
  }

  .termsandcondition__subtitle {
    font-size: 1.625rem;
  }

  .termsandcondition__wrapper--ul li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .term__main--section {
    padding: 6rem 2rem 1.5rem 2rem;
  }
  .termsandcondition__title {
    font-size: 1.8rem;
  }

  .termsandcondition__subtitle {
    font-size: 1.3rem;
  }
  .termsandcondition__wrapper--ul li {
    font-size: 15px;
  }
}
