.unlimited__container {
  background-image: linear-gradient(rgb(212, 239, 216), white);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 12rem 5rem 4rem 5rem;
}

.unlimited__container--section1 {
  margin-right: 4rem;
}

.unlimited__container--section1 h1 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 3.48rem;
  line-height: 140%;
  margin-top: 0;
}
.unlimited__container--section1 p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  margin-right: 3.5rem;
}
.unlimited__container--section2 {
  border: 0.112267px solid #0071ca;
  box-shadow: 0.374224px 1.12267px 3.74224px 2.99379px rgba(0, 0, 0, 0.1),
    1.12267px 1.87112px 18.7112px 1.87112px rgba(0, 113, 202, 0.2);
  border-radius: 2.61957px;
}
.unlimited__img {
  width: 100%;
  height: auto;
}

/* ----Media queries---- */

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .unlimited__container {
    background-image: linear-gradient(rgb(212, 239, 216), white);
    display: flex;
    flex-direction: column;
    padding: 8rem 5rem 2rem 5rem;
  }
  .unlimited__container--section1 h1 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 140%;
  }

  .unlimited__container--section1 p {
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 140%;
    margin-right: 10rem;
    /* or 34px */

    letter-spacing: 1px;
  }
  .umlimited__primary-btn {
    margin: 0 0 3rem 0;
  }
  .unlimited__container--section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.112267px solid #0071ca;
    box-shadow: 0.374224px 1.12267px 3.74224px 2.99379px rgba(0, 0, 0, 0.1),
      1.12267px 1.87112px 18.7112px 1.87112px rgba(0, 113, 202, 0.2);
    border-radius: 2.61957px;
  }
  .unlimited__img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .unlimited__container {
    background-image: linear-gradient(rgb(212, 239, 216), white);
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 5rem 2rem;
  }
  .unlimited__container--section1 {
    margin-right: 0;
  }
  .unlimited__container--section1 h1 {
    padding: 0;
    margin: 4rem 0 2rem 0;
    font-size: 1.65rem;
  }
  .unlimited__container--section1 p {
    font-size: 15px;
    margin: 0 0 2.5rem 0;
  }
  .unlimited__container--content-desktop {
    display: none;
  }
  .unlimited__container--content-tablet {
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: mulish;
    margin-bottom: 2.5rem;
  }
  .umlimited__primary-btn {
    margin: 0 0 5rem 0;
  }
  .unlimited__container--section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.100391px solid #0071ca;
    box-shadow: 0.334637px 1.00391px 3.34637px 2.6771px rgba(0, 0, 0, 0.1),
      1.00391px 1.67319px 16.7319px 1.67319px rgba(0, 113, 202, 0.2);
    border-radius: 2.34246px;
  }

  .unlimited__img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1250px) and (min-width: 1070px) {
  .unlimited__img {
    width: 984px;
    height: 824px;
  }
}

@media screen and (min-width: 1720px) {
  .unlimited__container {
    padding: 15rem 20rem 0rem 20rem;
  }
}
