.tab__container {
  padding: 12rem 5rem 60rem 5rem;
  background: linear-gradient(
    180deg,
    rgba(0, 113, 202, 0) -3.56%,
    rgba(0, 113, 202, 0.175) 25.81%,
    rgba(0, 163, 83, 0.175) 70.66%,
    rgba(0, 163, 83, 0) 98.97%
  );
  opacity: 0.8;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tab__title {
  font-family: var(--font);
  font-style: normal;
  font-weight: 900;
  font-size: 2.625rem;
  line-height: 150%;
  letter-spacing: 2px;
  margin: 0 37rem 3rem 0;
}
.tab__buttons {
  margin: 2rem 0 2rem 0;
}
.tab__button {
  background: none;
  border: none;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 155%;
  text-align: center;
  margin-right: 2rem;
}

.tab__button:hover {
  cursor: pointer;
  color: #00a353;
  border-bottom: 2px solid #00a353;
  transition: 200ms;
  font-family: var(--font);
  font-style: normal;
  font-weight: 900;
}

.tab__button--active {
  cursor: pointer;
  color: #00a353;
  font-weight: 700;
  border-bottom: 2px solid #00a353;
  transition: 400ms;
}

.section__wrapper--img img {
  width: 651px;
  height: 506px;
}

.section__main {
  margin: 2rem 0 0 0;
}
.section__wrapper--seemore-div {
  margin: 5rem 0 0 0;
}
.section__wrapper--seemore {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #0071ca;
  cursor: pointer;
  color: black;
  font-family: var(--font);
}
.section__wrapper--seemore:hover {
  color: #0071ca;
  border-bottom: 2px solid #0071ca;
}

/* --media-queries-- */

@media screen and (min-width: 1280px) {
  .tab__container {
    padding: 6rem 5rem 45rem 5rem;
  }

  .section__container-tabs {
    margin-top: 2em;
    position: relative;
  }

  .section__wrapper {
    position: absolute;
    padding: 3rem 0 3rem 4rem;
    border-radius: 15px;
    margin: 0 22rem 0 0;
    background-color: #edf7ff;
    box-shadow: 9px 0px 5px -7px rgba(237, 247, 255, 1) inset,
      -9px -7px 5px -7px rgba(237, 247, 255, 1) inset,
      0px 8px 0px 0px rgba(215, 235, 251, 1);
  }

  .section__wrapper--content {
    padding: 0 24rem 0 0;
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 1px;
    margin-right: 2rem;
  }
  .section__wrapper--title {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 140%;
    letter-spacing: 1px;
  }
  .section__wrapper--seemore-div {
    margin: 5rem 0 0 0;
  }
  .section__wrapper--seemore {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #0071ca;
    cursor: pointer;
    color: black;
  }
  .section__wrapper--seemore:hover {
    color: #0071ca;
    border-bottom: 1px solid #0071ca;
  }

  .section__wrapper--img {
    position: absolute;
    width: 699px;
    height: 554px;
    right: 0;
    top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.2rem;
    /* background: #ffffff;
    box-shadow: 0px 7.20822px 4.11898px rgba(0, 0, 0, 0.2),
      inset 0px 6.17847px 4.11898px rgba(0, 0, 0, 0.2);
    border-radius: 30px; */
  }
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .tab__container {
    padding: 6rem 5rem 8rem 5rem;
  }
  .tab__title {
    font-family: var(--font);
    font-style: normal;
    font-weight: 900;
    font-size: 2.625rem;
    line-height: 150%;
    letter-spacing: 2px;
    margin: 0;
  }

  .section__wrapper {
    position: none;
    background-color: #edf7ff;
  }

  .section__container-tabs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3.5rem 5rem;
    max-width: 1120px;
    height: 857px;
    background: #edf7ff;
    box-shadow: 0px 7px 4px rgba(0, 113, 202, 0.2);
    border-radius: 30px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .section__wrapper--seemore-div {
    margin: 2rem 0 2rem 0;
  }

  .section__wrapper--content {
    padding: 0;
  }

  .section__wrapper--img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;

    width: 632px;
    height: 506px;
  }
  .section__wrapper--img img {
    max-width: 566.37px;
    height: 440.22px;
  }
}

@media only screen and (max-width: 1080px) and (min-width: 660px) {
  .section__wrapper--img img {
    max-width: 490.18px;
    max-height: 381px;
  }

  .section__wrapper--img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    margin-top: 3rem;
    max-width: 523px;
    max-height: 418px;
  }
}
@media only screen and (max-width: 660px) and (min-width: 457px) {
  .section__wrapper--img img {
    width: 300px;
    height: 300px;
  }

  .section__wrapper--img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    margin-top: 3rem;
    width: 340px;
    height: 330px;
  }
}
@media only screen and (max-width: 457px) and (min-width: 360px) {
  .section__wrapper--img img {
    /* width: 250px;
    height: 250px; */
    width: 100%;
    height: auto;
  }

  .section__wrapper--img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .tab__container {
    padding: 5rem 2rem 6rem 2rem;
  }

  .tab__title {
    font-family: var(--font);
    margin: 0;
    font-size: 1.25rem;
  }
  .tab__buttons {
    margin: 2rem 0 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.2rem;
    row-gap: 1.5rem;
  }
  .tab__button {
    background: none;
    border: none;
    font-family: var(--font);
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
  }

  .tab__button:hover {
    border-bottom: 1px solid #00a353;
  }

  .tab__button--active {
    border-bottom: 2px solid #00a353;
  }

  .section__wrapper {
    position: none;
    background-color: #edf7ff;
  }

  .section__wrapper--title {
    font-size: 22px;
  }
  .section__wrapper--content {
    padding: 0;
    font-size: 0.9rem;
  }
  .section__wrapper--img {
    margin: 0;
    padding: 0;
  }

  .section__container-tabs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    max-width: 1120px;
    max-height: 750px;
    background: #edf7ff;
    box-shadow: 0px 7px 4px rgba(0, 113, 202, 0.2);
    border-radius: 30px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .section__wrapper--seemore-div {
    margin: 2rem 0;
  }

  .section__wrapper--content {
    padding: 0;
  }
}

@media screen and (min-width: 1720px) {
  .tab__container {
    padding: 1.6rem 20rem 40rem 20rem;
  }
}
