.navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem 1rem 5rem;
  box-shadow: 0px 6px 4px rgba(0, 113, 202, 0.25);
  font-family: var(--font);
}

.navbar-logo-img {
  display: inline-block;
  height: 100%;
}

.navbar-logo-img img {
  height: 60px;
  width: 190px;
}

.navbar__btn--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* navbarlinks */

/* @media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
} */

/* --media-queries-- */

@media screen and (min-width: 1720px) {
  .navbar {
    padding: 1.6rem 20rem 1rem 20rem;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .navbar {
    padding: 1rem 2rem 1rem 5rem;
  }
}
@media only screen and (max-width: 1010px) and (min-width: 768px) {
  .navbar__link--container {
    display: none;
  }

  .navbar__btn--container {
    display: none;
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .navbar__link--container {
    display: none;
  }
  .navbar__btn--container {
    display: none;
  }

  .navbar {
    padding: 0.5rem 2rem 0.3rem 2rem;
  }
  .navbar-logo-img img {
    height: 35px;
    width: 110px;
  }
}

@media screen and (min-width: 1900px) {
  .navbar {
    position: relative;
  }
}
