.cashnbank__header--section {
  padding: 10rem 6rem 5rem 6rem;
  background: radial-gradient(
      177.22% 158.16% at 48.96% -8.09%,
      rgba(0, 163, 83, 0.3) 0%,
      rgba(237, 247, 255, 0.3) 47.89%,
      rgba(237, 247, 255, 0.1) 74.99%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.cashnbank__header--section-1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.cashnbank__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 5rem 0 2rem;
}

.cashnbank__header h1 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 140%;
  letter-spacing: 1px;
}

.cashnbank__header p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  margin-bottom: 3rem;
}

.cashnbank__header-img img {
  width: 436.96px;
  height: 431.19px;
}
.cashnbank__header--section-2 {
  margin: 6rem 4rem;
}

.cashnbank__featureCTA--container {
  margin-top: 12rem;
}

.cashnbank__header--section-2 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 150%;
  /* identical to box height, or 63px */
  margin: 0 0 4rem 0;
  letter-spacing: 2px;
}
.cashnbank__header--section-2-cl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cashnbank__header--section-2-cl p {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  margin: 0 1rem;
  display: flex;
  letter-spacing: 1px;
}

.invoice__header--checkmark--icon {
  font-size: 60px;
}

@media screen and (min-width: 1720px) {
  .cashnbank__header--section {
    padding: 10rem 20rem 1rem 20rem;
  }
  .cashnbank__header--section-1 {
    padding: 0;
  }
  .cashnbank__header--section-1 p {
    padding: 2rem;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 850px) {
  .cashnbank__header--section-1 {
    padding: 0;
  }
  .cashnbank__header h1 {
    font-size: 45px;
  }

  .cashnbank__header p {
    font-size: 18px;
  }

  .cashnbank__header--section-2-cl {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .cashnbank__header--section-2 {
    padding: 8rem 6rem 8rem 6rem;
    margin: 0;
  }
  .invoice__header--checkmark--icon {
    font-size: 30px;
  }
  .cashnbank__header--section-2 p {
    padding: 0;
    margin: 0;
  }
  .cashnbank__header--section-2 h1 {
    font-size: 45px;
    padding: 0;
    margin: 0 0 4rem 0;
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .cashnbank__header--section {
    padding: 0;
  }
  .cashnbank__header--section-1 {
    padding: 6rem 2rem 5rem 2rem;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 360px) {
  .cashnbank__header--section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cashnbank__header-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cashnbank__header-img img {
    width: 100%;
    height: auto;
  }

  .cashnbank__header h1 {
    font-size: 1.5rem;
  }

  .cashnbank__header p {
    font-size: 15px;
    line-height: 1.3;
  }
  .cashnbank__header {
    padding: 0 0 3rem 0;
  }

  .cashnbank__header--section-2 {
    padding: 2rem 2rem 5rem 2rem;
    margin: 0;
  }
  .cashnbank__header--section-2 p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
  .cashnbank__header--section-2 h1 {
    padding: 0;
    margin: 0 0 4rem 0;
    font-size: 1.2rem;
  }

  .cashnbank__header--section-2-cl {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .invoice__header--checkmark--icon {
    font-size: 20px;
  }
}
