.cashnbank__header--section {
  padding: 10rem 0 5rem 0;
  background: radial-gradient(
      177.22% 158.16% at 48.96% -8.09%,
      rgba(0, 163, 83, 0.3) 0%,
      rgba(237, 247, 255, 0.3) 47.89%,
      rgba(237, 247, 255, 0.1) 74.99%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.cashnbank__header--section-1 {
  padding: 0 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cashnbank__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 0 5rem 0;
}

.cashnbank__header h1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 140%;
  letter-spacing: 1px;
}

.cashnbank__header p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  margin-bottom: 3rem;
}

.cashnbank__header-img {
  border: 0.124484px solid #0071ca;
  box-shadow: 3.63158px 6.05263px 96.8421px 15.7368px rgba(0, 113, 202, 0.3);
  filter: drop-shadow(0px 8.47368px 12.1053px rgba(0, 0, 0, 0.25));
  border-radius: 2.90463px;
}

.cashnbank__header-img img {
  width: 100%;
  height: auto;
}
.cashnbank__header--section-2 {
  margin: 12rem 4rem 8rem 4rem;
}

.cashnbank__featureCTA--container {
  margin-top: 12rem;
}

.cashnbank__header--section-2 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 150%;
  /* identical to box height, or 63px */
  margin: 0 0 4rem 0;
  letter-spacing: 2px;
}
.cashnbank__header--section-2-cl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cashnbank__header--section-2-cl p {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  margin: 0 1rem;
  display: flex;
  letter-spacing: 1px;
}

.invoice__header--checkmark--icon {
  font-size: 60px;
}

@media screen and (min-width: 1720px) {
  .cashnbank__header--section {
    padding: 10rem 20rem 1rem 20rem;
  }
  .cashnbank__header--section-1 {
    padding: 0;
  }
  .cashnbank__header--section-1 p {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 768px) {
  .cashnbank__header--section-1 {
    padding: 0 8rem;
  }
  .cashnbank__header h1 {
    font-size: 45px;
  }

  .cashnbank__header p {
    font-size: 18px;
  }

  .cashnbank__header--section-2-cl {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .cashnbank__header--section-2 {
    padding: 8rem 6rem 8rem 6rem;
    margin: 0;
  }
  .invoice__header--checkmark--icon {
    font-size: 30px;
  }
  .cashnbank__header--section-2 p {
    padding: 0;
    margin: 0;
  }
  .cashnbank__header--section-2 h1 {
    font-size: 45px;
    padding: 0;
    margin: 0 0 4rem 0;
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .cashnbank__header--section-1 {
    padding: 0 2rem;
  }

  .cashnbank__header h1 {
    font-size: 35px;
  }

  .cashnbank__header p {
    font-size: 15px;
  }

  .cashnbank__header--section-2 {
    padding: 10rem 2rem 5rem 2rem;
    margin: 0;
  }
  .cashnbank__header--section-2 p {
    padding: 0;
    margin: 0;
  }
  .cashnbank__header--section-2 h1 {
    padding: 0;
    margin: 0 0 4rem 0;
    font-size: 30px;
  }

  .cashnbank__header--section-2-cl {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .invoice__header--checkmark--icon {
    font-size: 20px;
  }
  .cashnbank__header--section {
    padding: 6rem 0 0 0;
  }
}
