.retailheader__container {
  padding: 10rem 6rem 4rem 6rem;
  background: linear-gradient(
    180deg,
    rgba(0, 163, 83, 0.35) 0%,
    rgba(0, 140, 139, 0.175) 35.42%,
    rgba(0, 113, 202, 0.105) 65.62%,
    rgba(0, 163, 83, 0) 100%
  );
}

.retailheader__img img {
  width: 100%;
  height: auto;
}

.retailheader__section1 {
  display: flex;
}

.retailheader__text--content {
  padding: 3rem 0 0 3rem;
}

.retailheader__text--content h1 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 140%;
  letter-spacing: 1px;
}

.retailheader__text--content p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
}

.retailheader__item {
  background: linear-gradient(
    90.63deg,
    rgba(0, 113, 202, 0.16) 13.58%,
    rgba(0, 163, 83, 0.16) 71.5%
  );
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.retailheader__section2 {
  padding: 8rem 0 4rem 0;
}

.retailheader__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.retailheader__item p {
  padding-left: 0.5rem;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
}

.retailheader__section2 h1 {
  font-family: var(--font);
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */

  letter-spacing: 2px;
}

@media only screen and (min-width: 1720px) {
  .retailheader__container {
    padding: 10rem 20rem 4rem 20rem;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 568px) {
  .retailheader__img img {
    width: 369px;
    height: 394.34px;
  }
  .retailheader__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 768px) {
  .retailheader__container {
    padding: 6rem 4rem 4rem 4rem;
  }
  /* .retailheader__img img {
    width: 70%;
    height: auto;
  } */
  .retailheader__text--content h1,
  .retailheader__section2 h1 {
    font-size: 40px;
  }
  .retailheader__text--content p,
  .retailheader__item p {
    font-size: 16px;
  }
  .retailheader__section1 {
    flex-direction: column-reverse;
  }
  .retailheader__section2 {
    padding: 4rem 0;
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .retailheader__container {
    padding: 6rem 2rem 4rem 2rem;
  }
  .retailheader__text--content {
    padding: 0;
  }
  .retailheader__text--content h1,
  .retailheader__section2 h1 {
    font-size: 1.625rem;
  }
  .retailheader__text--content p,
  .retailheader__item p {
    font-size: 16px;
  }
  .retailheader__section1 {
    flex-direction: column-reverse;
  }
  .retailheader__section2 {
    padding: 2rem 0;
  }
  .retailheader__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }
  .retailheader__img img {
    width: 100%;
    height: auto;
  }
}
