* {
  scroll-behavior: smooth;
}

.allfeatures__main--container {
  padding: 6rem;
}

.allfeatures__letters--container {
  margin-right: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}
.allfeatures__letters--list {
  background: #edf7ff;
  box-shadow: 0px 4px 4px rgba(0, 113, 202, 0.25);
  padding: 1rem;
  margin: 2rem 0;
  display: grid;
}

.allfeatures__letters--list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 1px;
  color: #00a353;
  margin: 1rem 0;
}
.allfeatures__letters--list p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.allfeatures__letter {
  background: #0071ca;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.letter__btn--container {
  display: flex;
  flex-direction: column;
  width: 3rem;
  position: fixed;
  right: 3rem;
  top: 10rem;
  background: #edf7ff;
  box-shadow: 0px 4px 4px rgba(0, 113, 202, 0.25);
  border-radius: 8px;
}
.letter__btn--container a {
  background: none;
  border: none;
  color: #0071ca;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  cursor: pointer;
}
.letter__btn--container button a {
  text-decoration: none;
  color: #0071ca;
}
.btn__letters--change {
  position: fixed;
  position: fixed;
  right: 3rem;
  bottom: 6rem;
  background: #edf7ff;
  box-shadow: 0px 4px 4px rgba(0, 113, 202, 0.25);
  border-radius: 8px;
}

.btn__letters--change button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #0071ca;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

@media only screen and (min-width: 1720px) {
  .allfeatures__main--container {
    padding: 6rem 20rem;
  }
}

@media only screen and (max-width: 720px) and (min-width: 360px) {
  .allfeatures__main--container {
    padding: 4rem 2rem;
  }

  .allfeatures__letters--container {
    margin-right: 6rem;
    display: block;
  }
}
